


//  Preferred Syntax for matrix, no brackets. Needs to follow strict indention, and body brackets are optional
//  

`First Name` 
	FORM_REQUIRED: 	IS_REQUIRED, "*"   
	FORM_LABEL:		"First Name", "Enter you first name"
	FORM_INPUT:		TEXT, 25#max chars#         				
	DB_COLUMN:		STRING, TABLES.Person, COL_TYPE.PRIMARY_KEY 

`States` 
	FORM_REQUIRED:	`Is Required`, "*"
	FORM_LABEL:		"State", "Choose your state"
	
	FORM_SELECT:	"StateSelector" #name of html select tag# 
		SELECT_OPTIONS:
			OPTION:  "AL", "Alaska", SELECTED 
			OPTION:  "AZ", "Arizona"
	
	DB_COLUMN:		 STRING, TABLES.Person, COL_TYPE.PRIMARY_KEY




//  Here is version with brackets and free indention. 
//  The item and descriptor-child brackets are required

`First Name` {
	FORM_REQUIRED: 	IS_REQUIRED, "*"   
	FORM_LABEL:		"First Name", "Enter you first name"
	FORM_INPUT:		TEXT, 25#max chars#         				
	DB_COLUMN:		STRING, TABLES.Person, COL_TYPE.PRIMARY_KEY 
}

`States` {
	FORM_REQUIRED:	`Is Required`, "*"
	FORM_LABEL:		"State", "Choose your state"
	
	FORM_SELECT:	"StateSelector" #name of html select tag#  {
		SELECT_OPTIONS {
			OPTION:  { "AL", "Alaska", SELECTED }   // Notice, optional descriptor body brackets
			OPTION:  "AZ", "Arizona"
		}
	}
	DB_COLUMN:		STRING, TABLES.Person, COL_TYPE.PRIMARY_KEY
}
