
MyMatrix[`1`]->FORM.REQUIRED:>IsRequired

MyMatrix->REGISTRATION->[`First Name`]->FORM.REQUIRED:>IsRequired

MyMatrix->[`1`]-<*1>FORM.REQUIRED:<*2>IsRequired

MyMatrix->ITEM.${*}->FORM.REQUIRED.${*filter}:>IsRequired.${*}
MyMatrix->ITEM{*}->FORM.REQUIRED{*filter}:>IsRequired{*}


MyMatrix-<*1>ITEM{*}-<*2>FORM.REQUIRED{*filter}:<*3>IsRequired{*}




MyMatrix[`1`]->FORM.REQUIRED->IsRequired

MyMatrix[`1`]-<*1>FORM.REQUIRED-<*2>IsRequired
MyMatrix[`1`]-<*1>FORM.REQUIRED-<*2>IsRequired

MyMatrix->ITEM.*->FORM.REQUIRED.${*filter}->IsRequired.*

MyMatrix-<*1>ITEM.*-<*2>FORM.REQUIRED.${*filter}-<*3>IsRequired.*




MyMatrix[`1`]>:FORM.REQUIRED>:IsRequired

MyMatrix[`1`]<*1>:FORM.REQUIRED<*2>:IsRequired
MyMatrix[`1`]<*1>:FORM.REQUIRED<*2>:IsRequired

MyMatrix>:ITEM.*>:FORM.REQUIRED.${*filter}>:IsRequired.*

MyMatrix<*1>:ITEM.*<*2>:FORM.REQUIRED.${*filter}<*3>:IsRequired.*
