
MyMatrix*[`State`][:FORM.REQUIRED].Name
MyMatrix*[`State`].FORM.REQUIRED.Name
MyMatrix*[`State`]-<*1>FORM.REQUIRED->Name

MyMatrix*->TextStyles->:BOLD
MyMatrix*-<*1>SETTINGS->FONT

MyMatrix*.SETTINGS.FORM.COLOR


MyMatrix@[`State`][:FORM.REQUIRED].Name
MyMatrix@[`State`].FORM.REQUIRED.Name
MyMatrix@[`State`]-<*1>FORM.REQUIRED->Name

MyMatrix@->TextStyles->:BOLD
MyMatrix@-<*1>SETTINGS->FONT

MyMatrix@.SETTINGS.FORM.COLOR



MyMatrix&[`State`][:FORM.REQUIRED].Name
MyMatrix&[`State`].FORM.REQUIRED.Name
MyMatrix&[`State`]-<*1>FORM.REQUIRED->Name

MyMatrix&->TextStyles->:BOLD
MyMatrix&-<*1>SETTINGS->FONT

MyMatrix&.SETTINGS.FORM.COLOR


MyMatrix^[`State`][:FORM.REQUIRED].Name
MyMatrix^[`State`].FORM.REQUIRED.Name
MyMatrix^[`State`]-<*1>FORM.REQUIRED->Name

MyMatrix^->TextStyles->:BOLD
MyMatrix^-<*1>SETTINGS->FONT

MyMatrix^.SETTINGS.FORM.COLOR



MyMatrix$[`State`][:FORM.REQUIRED].Name
MyMatrix$[`State`].FORM.REQUIRED.Name
MyMatrix$[`State`]-<*1>FORM.REQUIRED->Name

MyMatrix$->TextStyles->:BOLD
MyMatrix$-<*1>SETTINGS->FONT

MyMatrix$.SETTINGS.FORM.COLOR
